body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}

.logo, .recipebook-center{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 55px; /* Example height, adjust as needed */
}

.recipebook {
    color:#FFBF17; 
    font-size:50px;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.add_recipe {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #cccc;
    border-radius: 30px;
    margin-bottom: 15px;
    transition: background-color white, box-shadow white;
}

.post {
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.popup_content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.search-bar {
    display: flex;
    position:absolute;
    background-color: #cccc;
    border-radius: 30px;
    padding: 8px 15px;
    width: 100%;
    max-width: 550px;
    top:20px;
    left:380px;
}

/* Search icon */
.search-icon {
    font-size: 20px;
    /* Slightly larger icon */
    margin-right: 8px;
    /* Less margin to bring icon closer to input */
    color: #555;
    /* Darker color for better visibility */
}

/* Input field in search bar */
.search-bar input[type="text"] {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    color: #333;
    padding: 5px 0;
}


.login-btn,
.signup-btn {
    position: absolute;
    border: none;
    border-radius: 30px;
    padding: 16px 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.login-btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFBF17;
    color: white;
    right: 140px;
    top: 20px;
}

.signup-btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccc;
    color: black;
    right: 20px;
    top: 20px;
}

.heading label {
    margin-right: 10px;
    font-weight: bold;
}

.heading select {
    background-color: #cccc;
    border-color: #cccc;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}

.heading select option {
    background-color: #FFBF17;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}