body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: white;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    color: #ffbf17;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    margin-top: 20px;
}

table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 120px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 200px;
    white-space: normal;
}

th {
    background-color: #e9e9e9;
    color: black;
}

tr:hover {
    background-color: #fff6df;
}

.show, .disapprove-btn, .approve-btn{
    border: 1px solid #ccc;
    background-color: #ccc;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.show:hover, .disapprove-btn:hover, .approve-btn:hover{
    border: 1px solid #ffbf17;
    background-color: #ffbf17;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 150px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 300px;
}

.thumbnail {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 110px;
    right: 510px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}